@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");




.searchDummy {
  margin: 20px;
}

.searchDummy > h3 {
  font-weight: normal;
}

.searchDummy > h1,
.searchDummy > h3 {
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 1px #0091c2;
}

.searchDummy > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #0091c2);
}

.searchDummy > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
}

.searchDummy > div > input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;

}

.searchDummy > div > input::placeholder {
  color: #919191;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.searchDummy > div > input:focus::placeholder {
  opacity: 1;
}

