html, body {
    background: url('crowd.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
	margin: 0px;
    padding: 0px;
    font-family: Arial, serif;
	width:95%;
	color: white;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.page{
	margin: 10px;
}

.logo {
	text-align: center;
}

table, th, td {
	border-collapse: collapse;
  }

.playlist_table {
	width: 100%; 
	border-collapse: collapse;
}

.trackListing{
	width: 100%;
	border-collapse: collapse;
	background: rgba(54, 54, 54, 0.5);
}

.clickable {
	cursor: pointer
}

.track {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 16px;
}

.artistName{
	font-size: 12px;
}

.artistNameLarge{
	font-size: 18px;
}

.artistNameSmall{
	font-size: 10px;
}

.albumImage{
	width: 100px;
}

.imageCenter{
	text-align: center;
}

.artistBg{
	background-image: url('/band.jpg');
	width: 150px;
	height: 150px;
	background-size: cover;    
}

.album{
	font-size: 12px;
	font-style: italic;
	vertical-align: text-top;
}

#search_results {
	overflow: auto;
	width: 100%;
}


.artistSearchResults{
	width: 100%;
	border-collapse: collapse;
}

.albumSearchResults{
	width: 100%;
	border-collapse: collapse;
}

.artistListing{
	font-size: 18px;;
	font-weight: bold;
	padding-bottom: 10px;
	text-align: center;
	grid-template-columns: repeat(4, 1fr);
	/* this is the same as grid-template-rows: 300px 300px; */
	grid-template-rows: 200px 200px;
	height: 200px;
	/* grid-template-rows: repeat(1, 150px); */
}

.gridWrapper {
	width: auto;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	background: rgba(54, 54, 54, 0.5);
}

.searchTitle{
	font-size: 32px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	color: palevioletred;
	width: 100%;
	background-color: rgba(255, 110, 211, 0.161);
}

.searchPadding {
	width: 100%;
	height: 50px;
	display: inline-block
}

.resultSet{
	width: 100%;
}

.failText{
	position: fixed; /* or absolute */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 25vmin;
	color:rgba(255, 0, 179, 0.558);
	font-weight: 1000;
	text-align: center;
}

.qrWrapper {
	width: 100%;
	padding-bottom: 30px;
}

.cancelWrapper {
	position: absolute;
	right: -130px;
	width: 100px;
	padding-bottom: 30px;
}

.qrWrapperSmall {
	position: absolute;
	top: 30px;
	right: 20px;
	width: 100px;
	padding-bottom: 30px;
}

.qrCode, .qrCodeSmall, .qrCodeLarge {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.qrCodeSmall {
	width: 60px
}

.qrCodeLarge {
	width: 75vmin;
}


.qrText {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

.backText {
	padding-top: 20px;
	text-align: center;
}

.backText a {
	font-size: 40px;
	font-weight: bold;
}

.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
	display: none;
}




@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.flexbox {
  /* background: linear-gradient(155deg, #55c7ed, #2bb3e0, #3bc1ed); */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.search {
  margin: 20px;
}

.search > h3 {
  font-weight: normal;
}

.search > h1,
.search > h3 {
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 1px #0091c2;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #0091c2);
}

.search > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
}

.search > div > input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #919191;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");




.searchDummy {
  margin: 20px;
}

.searchDummy > h3 {
  font-weight: normal;
}

.searchDummy > h1,
.searchDummy > h3 {
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 1px #0091c2;
}

.searchDummy > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #0091c2);
}

.searchDummy > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
}

.searchDummy > div > input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;

}

.searchDummy > div > input::placeholder {
  color: #919191;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.searchDummy > div > input:focus::placeholder {
  opacity: 1;
}

